################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AL_Tahqeeq/.vs/AL_Tahqeeq/v15
