<br /><br />

<div class="hadeesRef">
    <blockquote>
        <div class="ref">
            <table class="table table-bordered">
                <tr>
                    <td> <focus>6587</focus>, 6593, 6585 </td>
                    <td class="focus"> صحیح بُخاری </td>
                </tr>
                <tr>
                    <td> 5973, 5977, 5978 </td>
                    <td> صحیح مسُلم </td>
                </tr>
                <tr>
                    <td> <focus>3057</focus> </td>
                    <td class="focus"> سُنن ابنِ ماجہ </td>
                </tr>
                <tr>
                    <td> 1617 </td>
                    <td> سِلسِلہ الصحیحہ </td>
                </tr>
                <tr>
                    <td> 10971 </td>
                    <td> مُسند أحمد </td>
                </tr>
            </table>
        </div>
        <div>

            نبی کریمﷺ نے فرمایا:  ”میَں حوض پر موجود رہوں گا اور پھر کچھ لوگوں کو سامنے لایا جایے گا جنہیں میَں پہچانتا ہوں گا، پھر ان لوگوں کو مجھ سے الگ کر دیا جائے گا ( فرشتے مجھ سے چھین کر انہیں جہنم میں لے جائیں گے )، میَں عرض کروں گا کہ:۔

            <br />
            اے میرے رب!  یہ تو میرے ہی آدمی ہیں اور میری امت کے لوگ ہیں۔ مجھ سے کہا جائے گا کہ تمہیں معلوم بھی ہے انہوں نے تمہارے بعد کیا کام کئے تھے؟ اللہ کی قسم یہ مسلسل الٹے پاؤں لوٹتے رہے۔ ( دین اسلام سے پھر گئے ) اور انہوں نے آپ کے بعد بدعتیں ایجاد کی ہیں... میَں سمجھتا ہوں کہ ان گروہوں میں سے ایک آدمی بھی نہیں بچے گا۔ (فرشتے) ان سب کو دوزخ میں لے جائیں گے۔
            <br />
            Sahih Hadees
        </div>
    </blockquote>
</div>

<br />
        نبیﷺ قیامت والے دن اپنی امت کے لوگوں کو اس لئے پہچانتے ہوں گے کیونکہ ان کے وضو والے اعضاء چمک رہے ہوں گے۔۔
<br />
<div class="hadeesRef">
    <blockquote>
        <div class="ref">
            <table class="table table-bordered">
                <tr>
                    <td> 136 </td>
                    <td> صحیح بُخاری </td>
                </tr>
                <tr>
                    <td> 580 </td>
                    <td> صحیح مسُلم </td>
                </tr>
                <tr>
                    <td> 284 , 4306 </td>
                    <td> سُنن ابنِ ماجہ </td>
                </tr>
                <tr>
                    <td> 654 , 12508 to 12510 </td>
                    <td> مُسند أحمد </td>
                </tr>
                <tr>
                    <td> <focus>290</focus> , 299 </td>
                    <td class="focus"> مِشکوٰۃ المصابیح </td>
                </tr>
            </table>
        </div>
        <div>

            رسول اللہ ﷺ نے فرمایا : ’’ بے شک میری امت کے لوگوں کو قیامت کے دن بلایا جائے گا ، تو وضو کے نشانات کی وجہ سے ان کے ہاتھ پاؤں اور پیشانی چمکتی ہو گی ، پس تم میں سے جو شخص اپنی چمک کو بڑھانا چاہے تو وہ بڑھا لے ۔‘‘۔
            <br />
            Sahih Hadees
        </div>
    </blockquote>
</div>
