<div class="hadeesRef">
    <blockquote>
        <div class="ref">
            <table class="table table-bordered">
                <tr>
                    <td> 3617 </td>
                    <td> صحیح بُخاری </td>
                </tr>
            </table>
        </div>
        <div>

            ایک شخص پہلے عیسائی تھا  پھر وہ اسلام میں داخل ہو گیا تھا۔ اُس نے سورۃ البقرہ اور سورة آل عمران پڑھ لی تھی اور وہ نبی کریمﷺ کا منشی بن گیا لیکن پھر وہ شخص مرُتد ہو کر عیسائی ہو گیا اور کہنے لگا کہ:۔
            <br />
            محمد(ﷺ )  کے لیے جو کچھ میَں نے لکھ دیا ہے اس کے سِوا انہیں اَور کچھ بھی معلوم نہیں!  پھر اللہ تعالیٰ کے حکم سے اس کی موت واقع ہو گئی اور اس کے آدمیوں نے اسے دفن کر دیا۔ جب صبح ہوئی تو انہوں نے دیکھا کہ اس کی لاش، قبر سے نکل کر، زمین کے اوپر پڑی ہے۔ عیسائی لوگوں نے کہا کہ:۔
            <br />
            یہ محمد(ﷺ)  اور اس کے ساتھیوں کا کام ہے چونکہ ان کا دین اِس نے چھوڑ دیا تھا اِس لیے انہوں نے اس کی قبر کھودی ہے اور لاش کو باہر نکال کر پھینک دیا ہے۔ چنانچہ انہون نے دوسری قبر کھودی جو بہت زیادہ گہری تھی۔ لیکن جب صبح ہوئی تو پھر (اگلے دن بھی)  لاش باہر تھی۔ اس مرتبہ بھی انہوں نے یہی کہا کہ:۔ یہ محمد(ﷺ)  اور ان کے ساتھیوں کا کام ہے چونکہ اُن کا دین اِس نے چھوڑ دیا تھا اِس لیے اس کی قبر کھود کر انہوں نے لاش باہر پھینک دی ہے۔ پھر انہوں نے اتنی گہری قبر کھودی جتنی گہری اِن کے بس میں تھی اور اسے قبر کے اندر ڈال دیا لیکن صبح ہوئی تو پھر لاش باہر تھی۔ اب اُنہیں یقین آیا کہ یہ کسی انسان کا کام نہیں ہے ( بلکہ یہ میت اللہ تعالیٰ کے عذاب میں گرفتار ہے ) چنانچہ انہوں نے اسے یونہی ( زمین پر )  ڈال دیا۔
            <br />
            Sahih Hadees
        </div>
    </blockquote>
</div>
