
<div class="hadeesRef">
    <blockquote>
        <div class="ref">
            <table class="table table-bordered">
                <tr>
                    <td> 831, 835, <focus>1202</focus>, 6230, 6328 </td>
                    <td class="focus"> صحیح بُخاری </td>
                </tr>
                <tr>
                    <td> 897 </td>
                    <td> صحیح مسُلم </td>
                </tr>
                <tr>
                    <td> 968 </td>
                    <td> سُنن ابو داؤد </td>
                </tr>
                <tr>
                    <td> 1299 </td>
                    <td> سُنن نَسائی </td>
                </tr>
                <tr>
                    <td> 909 </td>
                    <td> مِشکوٰۃ المصابیح </td>
                </tr>
            </table>
        </div>
        <div>
            ہم پہلے نماز میں یوں کہا کرتے تھے فلاں پر سلام اور نام لیتے تھے۔ اور آپس میں ایک شخص دوسرے کو سلام کر لیتا۔ نبی کریمﷺ نے سن کر فرمایا اِس طرح کہا کرو۔
            <br />
            <div class="arabic">
                التَّحِيَّاتُ لِلَّهِ وَالصَّلَوَاتُ وَالطَّيِّبَاتُ اَلسَّلَامُ عَلَيْكَ أَيُّهَا النَّبِيُّ وَرَحْمَةُ اللَّهِ وَبَرَكَاتُهُ اَلسَّلَامُ عَلَيْنَا وَعَلَى عِبَادِ اللَّهِ الصَّالِحِينَ، أَشْهَدُ أَنْ لَا إِلَهَ إِلَّا اللَّهُ وَأَشْهَدُ أَنَّ مُحَمَّدًا عَبْدُهُ وَرَسُولُهُ۔
            </div>
            اگر تم نے یہ پڑھ لیا تو گویا اللہ کے اُن 
            <span class="red">
            تمام صالح (نیک) بندوں 
            </span>
            پر سلام پہنچا دیا ، جو
            <span class="red">
             آسمان اور زمین 
            </span>
            میں ہیں۔
            <br />
            Sahih Hadees
        </div>
    </blockquote>
</div>