<div class="hadeesRef">
    <blockquote>
        <div class="ref">
            <table class="table table-bordered">
                <tr>
                    <td> <focus>3886</focus>, 4710 </td>
                    <td class="focus"> صحیح بُخاری </td>
                </tr>
                <tr>
                    <td> 428, <focus>430</focus> </td>
                    <td class="focus"> صحیح مُسلم </td>
                </tr>
                <tr>
                    <td> 3133 </td>
                    <td> جامع تِرمذی </td>
                </tr>
                <tr>
                    <td> 10595 </td>
                    <td> مُسند أحمد </td>
                </tr>
                <tr>
                    <td> 5866, 5867 </td>
                    <td> مِشکوٰۃ المصابیح </td>
                </tr>
            </table>
        </div>
        <div>
            رسول اللہﷺ نے فرمایا: قریش مُجھ سے میرے معراج کے بارے میں سوال کر رہے تھے، اُنہوں نے مجھ سے بیت المقدس کی کچھ چیزوں کے بارے میں پوچھا جو مَیں نے غور سے نہ دیکھی تھیں ، مَیں اِس قدر پریشانی میں مبتلا ہوا کہ
            <span class="red">
                کبھی اِتنا پریشان نہ ہوا
            </span>
            تھا، تو مَیں
            <span class="red">
                حطیم میں کھڑا
            </span>
            ہو گیا اور اللہ تعالیٰ نے میرے لیے بیت المقدس کو روشن کر دیا اور میں نے اُسے دیکھ کر قریش سے اِس کے پتے اور نشان بیان کرنا شروع کر دیئے۔
            <br />
            Sahih Hadees
        </div>
    </blockquote>
</div>