<div class="hadeesRef">
    <blockquote>
        <div class="ref">
            <table class="table table-bordered">
                <tr>
                    <td> 1337 </td>
                    <td> صحیح بُخاری </td>
                </tr>
                <tr>
                    <td> 2215 </td>
                    <td> صحیح مسُلم </td>
                </tr>
                <tr>
                    <td> 3168, 3169 </td>
                    <td> مُسند أحمد </td>
                </tr>
                <tr>
                    <td> <focus>1659</focus> </td>
                    <td class="focus"> مِشکوٰۃ المصابیح </td>
                </tr>
            </table>
        </div>
        <div>
            ابوہریرہ ؓ سے روایت ہے کہ ایک سیاہ فام (حَبشی) خاتون ، جو کہ 
            <span class="red">
            مسجد کی صفائی 
            </span>
            کیّا کرتی تھی ، رسول اللہ ﷺ نے اُسے (کئی دن) نہ دیکھا تو آپﷺ نے اُس کے 
            <span class="red">
            بارے میں سوال 
            </span>
            کیّا، تو صحابہ ؓ نے عرض کیا ، وہ (عورت) تو وفات پا چکی ہے۔
            <br />
            آپﷺ نے فرمایا :’’تم نے مجھے 
            <span class="red">
            اطلاع کیوں نہیں 
            </span>
            دی؟‘‘۔
            <br />
            راوی بیان کرتے ہیں ، گویا اُنہوں نے اُس (عورت) کے معاملے کو 
            <span class="red">
            کم تر 
            </span>
            سمجھا۔ آپ ﷺ نے فرمایا :’’مجھے اُس کی قبر بتاؤ‘‘ اُنہوں نے بتا دیا تو آپﷺ نے وہاں نمازِ جنازہ پڑھی۔
            <br />
            پھر آپ ﷺ نے فرمایا :’’یہ قبریں اپنے اصحاب پر 
            <span class="red">
            اندھیروں سے 
            </span>
            بھری پڑی تھیں، اور بے شک اللہ نے میرے نمازِ جنازہ پڑھنے کے ذریعے اِنہیں 
            <span class="red">
            نُور سے بھر 
            </span>
            دیا ہے‘‘۔
            <br />
            Sahih Hadees
        </div>
    </blockquote>
</div>