<div class="hadeesRef" id="sattar_ansari_shaheed">
    <blockquote>
        <div class="ref">
            <table class="table table-bordered">
                <tr>
                    <td> 3064, 4088, 4090, 4096 </td>
                    <td> صحیح بُخاری </td>
                </tr>
                <tr>
                    <td> 1550 , <focus> 4917 </focus> </td>
                    <td class="focus"> صحیح مُسلم </td>
                </tr>
                <tr>
                    <td> 10745 </td>
                    <td> مُسند أحمد </td>
                </tr>
            </table>
        </div>
        <div>
            ۔۔۔ (ستر انصاری صحابی (جنہیں قراء کہا جاتا تھا) کو دھوکے سے شہید کیا گیا تو اُنہوں نے کہا) ۔۔۔ ’’اے اللہ! ہمارے نبی کو یہ پیغام پہنچا دے کہ ہم نے تجھ سے ملاقات کر لی ہے ، ہم تجھ سے راضی ہو گئے ہیں اور تو ہم سے راضی ہو گیا ہے‘‘۔
            <br />
            Sahih Hadees
        </div>
    </blockquote>
</div>

                        مدینہ میں نبیﷺ موجود تھے! تب بھی صحابہ اکرام ؓ نے اللہ کو ہی پکارا۔۔۔ اور اللہ سے ہی دُعا کی۔
<br /><br />

                        اَصل مسئلہ یہ ہے کہ غائب میں مدد کے لئے پکارنا شِرک ہے!!! اختیارات کا ہونا یا نہ ہونا بحث نہیں ہے!!!۔
<br />
                        جیسا کہ اللہ کے حکم سے، ہم پر بارش، فرشتے برساتے ہیں (کیونکہ اللہ نے یہ اختیار فرشتوں کو دیا ہے) لیکن اگر اب ہم بارش کے لئے فرشتوں سے دُعا کریں کہ: ’’اے فرشتو! ہم پر بارش برساو! یا اے میکائیل (علیہ السلام) ہم پر بارش برساو‘‘ تو یہ
<span class="red">
    خالصتاً شِرک
</span>
                        ہو گا!!! کیونکہ غائب میں مدد کے لئے صرف اور صرف اللہ کو پکارا جائے گا!!۔
<br /><br />
                        اِسی طرح جب ہم نبیﷺ پر درود بھیجتے ہیں تو ’’اللھم (اے اللہ!)’’ کہہ کر بھیجتے ہیں۔ صحابہ کا عقیدہ بھی واضح ہو گیا کہ وہ بھی اپنی خبریں اللہ کے ذریعے نبیﷺ تک پہنچاتے تھے (یعنی دعا کرتے تھے)۔