
<ul class="ul-urdu">
    <li>
        ۔•°• بریلوی مکتبہ فِکر کے ایک بہت بڑے عالم، 《علامہ عباس رضوی صاحب》 نے 448 صفحات پر مشتمل ایک کتاب لکھی۔ جس کا نام ہے۔ ۔’’آپﷺ زندہ ہیں واللہ‘‘ اُس کتاب کو مکمل پڑھا۔

    </li>
    <li>
        ۔•°• اِسی طریقے سے دیوبند مکتبہ فِکر میں حیاتی گروپ کے بہت بڑے عالم 《علامہ سرفراز خان صفدر صاحب》 نے 439 صفحات پر مشتمل ایک کتاب لکھی جس کا نام ’’ تسکین الصدور‘‘ ہے۔ یہ کتاب بھی مسئلہ حیات النبیﷺ کے متعلق ہے۔ اُس کا بھی مکمل مطالعہ کیّا۔
    </li>
    <li>
        ۔•°• اِسی طریقے سے دیوبند مکتبہ فکر کے مماتی گروپ کے بہت بڑے عالم 《عطاءاللہ بندیالوی صاحب》 کی کتاب ’’مسئلہ حیات النبیﷺ‘‘ کے نام سے ہے۔ اُس کو بھی مکمل پڑھا۔
    </li>
    <li>
        ۔•°• اِس حوالے سے اہل تشیع کی علیحدہ سے کوئی کتاب نہیں ہے، لیکن ’’اصولِ کافی‘‘ کے اندر مسئلہ حیات النبیﷺ سے متعلق اِن کے عقائد و نظریات موجود ہیں۔ اُس کا بھی مطالعہ کیّا۔

    <li>
        ۔•°• اِسی طرح سے اہلِ حدیث مکتبہ فِکر کے بہت بڑے عالم ۔《علامہ اسماعیل سَلفی صاحب》 کی کتاب ’’ مسئلہ حیات النبیﷺ‘‘ ہے۔ جو تقریباً 70 صفحوں پر مشتمل ہے۔ اِس کا بھی مطالعہ کیّا۔
    </li>
</ul>

<blockquote>
    <a href="~/images/005_images/related_books_cover.jpg" target="_blank">
        <img class="img-thumbnail" src="~/images/005_images/related_books_cover.jpg" alt="hayat un nabi s.a.w related books" />
    </a>
</blockquote>

            اوپر والی تمام کتابوں کو پڑھنے کے بعد یہ لیکچر تیار کیّا گیا ہے۔

<br />
            حتیٰ کہ اِس مطالعہ کے دوران، دَورِ حاضر کا ایک جدید فِرقہ بھی سامنے آیا ہے۔ دیوبند کے مماتی گروپ میں سے نکلا ہوا 《ایکس کیپٹن عثمانی صاحب》۔ کا گروپ ہے جو اپنے آپ کو بَرزخی گروپ بھی کہتے ہیں۔ اور یہ اِس حد تک آگے گئے ہیں کہ، (معاذ اللہ ،استغفر اللہ)، کیپٹن عثمانی صاحب نے اپنی کتاب ’’اسلام یا مسلک پرستی‘‘ میں قبرِ مبارک کے لئے ’’گَڑھے‘‘ کا لفظ استعمال کیا۔ (العیاذباللہ تعالیٰ)۔

<br />


<blockquote>
    <a href="~/images/005_images/qabar_ko_garha_kaha.jpg" target="_blank">
        <img class="img-thumbnail" src="~/images/005_images/qabar_ko_garha_kaha.jpg" alt="qabar mubarak ko garha kaha" />
    </a>
</blockquote>

            اِس کے علاوہ اُنہوں نے ’’ایمانِ خالص حصّہ دوم‘‘ اور ۔’’عذابِ بَرزخ‘‘ کے نام سے بھی کتابیں لکھیں۔

<br />
            اِن سب کتابوں کا پوری ایمانداری کے ساتھ مطالعہ کرنے کے بعد یہ لیکچر تیار کیّا گیا ہے۔ الحمداللہ

<br />

<blockquote>
    <a href="~/images/005_images/related_books_cover_2.jpg" target="_blank">
        <img class="img-thumbnail" src="~/images/005_images/related_books_cover_2.jpg" alt="azaab e barzakh - imaan e khalis part | hissa 2"/>
    </a>
</blockquote>
