
<div class="text-center red">
    ●○•●○•●○•  گستاخانہ واقعات  •○●•○●•○●
    <br />
</div>

<span class="ilmi_point_heading">
    <br />
    ۔’’آخر میں دو واقعات بیان کئے جائیں گے تاکہ دماغ کی بریکیں کُھل جائیں اور بریکیں تب تک نہیں کھُلتِیں جب تک کوئی کڑوِی بات نہ کی جائے!‘‘۔

</span>

<div id="qabar-sy-hath-bahir-nikla-gustakhana-waaqia?_?_?_" class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title red">
            <a href="@Request.Url.AbsoluteUri#qabar-sy-hath-bahir-nikla-gustakhana-waaqia?_?_?_">
                <span class="glyphicon glyphicon-link btn-link" style="float : left;"></span>
            </a>

            <a data-toggle="collapse" href="#qabar_sy_hath_bahir_nikla_gustakhana_waaqia">
                پہلا گُستاخانہ واقعہ۔۔۔ (قبر سے ہاتھ باہر نکلا)۔
                <span class="glyphicon glyphicon-sort" style="padding-left : 2%;"></span>
            </a>
        </span>
    </div>
    <div id="qabar_sy_hath_bahir_nikla_gustakhana_waaqia" class="panel-collapse collapse open">
        <div class="panel-body">

            <div class="label label-danger">
                 پہلا گستاخانہ واقعہ :۔
            </div>
            <br />
            @Html.Partial(CommonAhadees.qabar_sy_hath_bahir_nikla)

            حالانکہ صحابہ اکرام کا یہ حال تھا کہ وہ نبیﷺ کی وفات کے بعد روتے روتے زندگیاں گزارتے تھے کہ اب ہم نبی کریمﷺ کو دیکھ نہیں سکیں گے۔۔۔
            <ul class="ul-urdu">
                <li>
                    اُنہوں نے تو کبھی نہیں کہا کہ قبر مبارک سے ہاتھ باہر نکالیں تاکہ ہم آپﷺ کو دیکھیں۔۔۔!!۔
                </li>
                <li>
                    سیدہ عائشہ رضی اللہ عنھا حضورﷺ کی وفات کے 47 سال بعد تک زندہ رہی تھیں اور اُسی حُجرے میں رہی تھیں جہاں پر آپﷺ کی قبر مبارک ہے۔
                    حضرت عائشہ ؓ نے کبھی نہیں کہا کہ میری حضورﷺ سے ملاقات ہوئی!!۔
                </li>
                <li>
                    سیدہ فاطمہ ؓ نے بھی کبھی نہیں کہا کہ میری حضورﷺ سے ملاقات ہوئی!!۔
                </li>
            </ul>


            <br />
            حالانکہ جب سیدہ عائشہ ؓ اجتہادی غلطی کی وجہ سے جنگِ جمل کے لئے نکلِیں تو بہت اچھا موقع تھا کہ آپﷺ قبر مبارک سے ہاتھ باہر نکالتے اور سیدہ عائشہ ؓ کو روک لیتے کہ علی ؓ وقت کے خلیفہ برحق ہیں اُن سے جنگ نہ لڑو۔۔

            <br />
            بعد میں سیدہ عائشہ ؓ اتنا روتی تھیں کہ اُن کا دوپٹہ، تر ہو جاتا تھا۔

            <br />
            اس کا صحیح بخاری میں اشارةً ذکر ہے۔ مسند امام احمد اور مصنف ابن ابی شیبہ میں ہے کہ سیّدہ عائشہ ؓ کہتی تھیں کہ حضورﷺ کے بعد میَں نے علی سے جنگ کر کے بہت بڑی غلطی کی ہے ، مجھے اب قبرِ رسولﷺ کے پاس دفن مت کرنا بلکہ میری سوکنوں کے ساتھ دفن کرنا تاکہ اِن کی وجہ سے لوگ میری تعریف نہ کریں۔

            <br />

            <blockquote>
                <a href="~/images/005_images/aisha_sokno_dafan.jpg" target="_blank">
                    <img class="img-thumbnail" src="~/images/005_images/aisha_sokno_dafan.jpg" alt="hazrat aisha apni sokno k saath dafan huin" />
                </a>
            </blockquote>

            اگر بعد میں حضرت عائشہ ؓ روتی تھیں تو حضورﷺ کو پہلے ہی روک لینا چاہئے تھا کہ ’’عائشہ یہ کام نہ کرو‘‘۔

            <br />
            کیونکہ آپﷺ کی سب سے زیادہ لاڈلی بیوی اَور کوئی نہیں تھی، دُنیا اور آخرت میں حضورﷺ کی بیوی اور ہماری ماں ہیں۔

            <div class="hadeesRef">
                <blockquote>
                    <div class="ref">
                        <table class="table table-bordered">
                            <tr>
                                <td> 7100 </td>
                                <td> صحیح بُخاری </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        ۔۔۔ عمار رضی اللہ عنہ نے کہا کہ اللہ کی قسم عائشہ رضی اللہ عنھا دُنیا و آخرت میں تمہارے نبی کریمﷺ کی پاک بیوی ہیں۔۔۔
                        <br />
                        Sahih Hadees
                    </div>
                </blockquote>
            </div>

            <br />
            <div class="text-center red">
                <span class="glyphicon glyphicon-warning-sign"></span>
                <span class="glyphicon glyphicon-certificate"></span>
                <span> !!!  چیلنج  !!! </span>
                <span class="glyphicon glyphicon-certificate"></span>
                <span class="glyphicon glyphicon-warning-sign"></span><br />
                ہمارا چیلنج ہے کہ کوئی ضعیف سند والی حدیث سے ہی دِکھا دیں کہ عائشہ ؓ نے کہا ہو کہ نبیﷺ کی وفات کے بعد میری حضورﷺ سے ملاقات ہوئی ہے!۔
            </div>
            <br />
            یہ تو بعد کے لوگوں نے کہا ہے کہ:۔

            <div class="text-center red">
                <br />
                ۔؎   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                سنا ہے آپ ہر عاشق کے گھر تشریف لاتے ہیں

                <br />
                میرے گھر میں بھی ہو جائے چراغاں یا رسول اللہ    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.
            </div>
            <br />
            اور جب کوئی سمجھاتا ہے تو کہتے ہیں کہ یہ گُستاخ ہو گیا ہے۔ (العیاذباللہ تعالیٰ)۔

            <br /><br />
            اور یہی بات المہند علی المفند میں دیوبند مکتبہ فِکر کے محمد خیر شنقیضی نے تخریج لگائی ہے کہ ہمارا یہ عقیدہ ہے کہ حضورﷺ وفات کے بعد بھی قبر سے نکل کر دُنیا میں تصرف فرماتے ہیں۔

            <br />

            <blockquote>
                <a href="~/images/005_images/huzur_dunia_m_aty_hn_muhannad.jpg" target="_blank">
                    <img class="img-thumbnail" src="~/images/005_images/huzur_dunia_m_aty_hn_muhannad.jpg" alt="huzur dunia mein aty hein - al muhannad alal mufannad" />
                </a>
            </blockquote>
            <br />
            اِسی طرح بریلوی مکتبہ فکر کے احمد رضا خان صاحب کے فتاویٰ رضویہ میں بھی یہ بات موجود ہے، جس کا حوالہ مفتی عباس رضوی صاحب نے اپنی کتاب ’’آپﷺ زندہ ہیں واللہ‘‘ کے صفحہ 40 میں دیا ہے۔۔
            <br />
            <blockquote>
                <a href="~/images/005_images/huzur_dunia_m_aty_hn_rizvia.jpg" target="_blank">
                    <img class="img-thumbnail" src="~/images/005_images/huzur_dunia_m_aty_hn_rizvia.jpg" alt="huzur dunia mein aty hein - fataawa rizvia" />
                </a>
            </blockquote>

            <br />
            دیوبند کے حیاتی گروہ اور بریلوی مکتبہ فِکر کا اِس بارے میں ایک جیسا عقیدہ ہے اور اُن کی غلطی یہ ہے کہ ’’اُنہوں نے حضورﷺ کو 'دُنیاوی زندگی' کے ساتھ زندہ سمجھا ہے حالانکہ وہ 'بَرزخی زندگی' ہے ۔۔۔‘‘۔


        </div>
    </div>
</div>

<div id="nabi-qabar-mein-apni-bevion-sy-shab-bashi-karty-hein-gustakhana-waaqia?_?_?_" class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title red">
            <a href="@Request.Url.AbsoluteUri#nabi-qabar-mein-apni-bevion-sy-shab-bashi-karty-hein-gustakhana-waaqia?_?_?_">
                <span class="glyphicon glyphicon-link btn-link" style="float : left;"></span>
            </a>

            <a data-toggle="collapse" href="#nabi_qabar_mein_apni_bevion_sy_shab_bashi_karty_hein_gustakhana_waaqia">
                دوسرا گُستاخانہ واقعہ۔۔۔ ( انبیاء قبروں میں اپنی بیویوں کے ساتھ شب باشی کرتے ہیں)۔
                <span class="glyphicon glyphicon-sort" style="padding-left : 2%;"></span>
            </a>
        </span>
    </div>
    <div id="nabi_qabar_mein_apni_bevion_sy_shab_bashi_karty_hein_gustakhana_waaqia" class="panel-collapse collapse open">
        <div class="panel-body">

            <div class="label label-danger">
                 دوسرا گستاخانہ واقعہ :۔
            </div>
            <br />
            دوسرا گُستاخانہ واقعہ اور نظریہ انتہائی شرمناک ہے۔ یقین کریں کہ یہ بات بیان کرتے ہوئے بھی شرم آتی ہے۔

            <br />
            اور یہ واقعہ بھی دیوبند اور بریلویوں کے مشترکہ بزرگ 《محمد بن باقر زرکانی صاحب》 کے حوالے سے نقل کیا جاتا ہے۔۔۔ (جو 1124 ھ میں فوت ہوئے)۔

            <br />
            اور یاد رہے کہ شَیخ زِکریا صاحب اپنی کتابوں (فضائل اعمال ، فضائل صدقات اور فضائل حج) میں اِنہی (محمد بن باقر زرکانی صاحب) کے حوالے دیتے ہیں۔

            <br /><br />
            اور اِنہی کے حوالے بریلوی مکتبہ فکر کے امام احمد رضا خان صاحب بھی دیتے ہیں (جو 1340ھ میں فوت ہوئے)۔ اُن کے ملفوظات اُن کے بیٹے مصطفیٰ رضا خان نوری صاحب نے جمع کئے، جنہیں مفتی اعظم انڈیا بھی کہا جاتا تھا۔ (جو 1981ء میں فوت ہوئے) اِنہی کی مشہور نعت ہے :۔

            <br />
            <div class="text-center red">
                ٗ٘ تُو شمّعِ رِسالت ہے ٗ٘ عالمَ تیرا پروانہ ۔۔۔
            </div>


            <br />
            احمد رضا خان صاحب سے پوچھا گیا کہ آپ کہتے ہیں کہ قبروں میں شہید بھی زندہ ہیں ، ولی بھی زندہ ہیں ، نبی بھی زندہ ہیں۔۔۔ تو اِن کا فرق کیا ہے؟؟؟

            <br />
            انہوں نے کہا کہ انبیاء کرام علیھم السلام کی قبروں میں زندگی حقیقی ، حسی اور 'دُنیاوی' ہے۔

            <br /><br />
            <div class="text-center red">
                <span class="glyphicon glyphicon-question-sign"></span>
                <span> سوال  </span>
                <span class="glyphicon glyphicon-question-sign"></span><br />
                اب یہ دُنیاوی لفظ کہاں سے ڈال دیا؟؟؟
            </div>
            <br />
            اگر یہ کہہ دیتے کہ حقیقی ، حسی اور 'بَرزخی' ہے تو کوئی اعتراض نہیں ہونا تھا لیکن اُنہوں نے دُنیاوی کہہ دیا۔۔ اور اللہ پاک کہتے ہیں کہ
            <br />


            <br />
            <blockquote>
                ۔2 : سورة البقرة 154
                <div class="arabic">
                    ۔۔۔ وَلَكِن لَّا تَشْعُرُونَ۞۔
                </div>
                ۔۔۔ لیکن تم شعور نہیں رکھتے۔
            </blockquote>

            <br />
            دُنیاوی زندگی والے پروٹوکول تو وہاں (بَرزخی زندگی میں) ہوتے ہی نہیں۔۔۔ جیسا کہ سانس لینا ، قضائے حاجت کے لئے جانا، آرام کرنا اِس قِسم کے معاملات وغیرہ۔
            <br /><br />
            احمد رضا خان صاحب نے اِس کے بعد دلیل کے طور پر قرآن اور حدیث پیش نہیں کیا بلکہ دیوبند حیاتی مکتبہ فکر اور بریلوی مکتبہ فکر کے بڑے بزرگ محمد بن باقر زرقانی صاحب کو دلیل کے طور پر پیش کیا کہ :۔
            <br />
            ۔’’میرے آقا سیّدی محمد بن باقر زرقانی فرماتے ہیں کہ:۔
            <div class="text-center red">
                انبیاء کرام علیھم السلام قبروں میں زندہ ہیں حتیٰ کہ اُن کی قبروں میں اُن کی بیویاں ازواج مطہرات بھی پیش کی جاتی ہیں اور وہ ان کے ساتھ ’’شب باشی‘‘ (ہمبستری) بھی کرتے ہیں۔‘‘۔
            </div>
            <div class="hadeesRef">
                <blockquote>
                    <div class="ref">
                        <table class="table table-bordered">
                            <tr>
                                <td> www.alahazrat.net </td>
                                <td> 197 </td>
                                <td> ملفوظات احمد رضا حصہ 3 ، صفحہ </td>
                            </tr>
                            <tr>
                                <td>  مشتاق بک کارنر </td>
                                <td> 310 </td>
                                <td> ملفوظات احمد رضا، حصہ 3 ، صفحہ </td>
                            </tr>
                            <tr>
                                <td class="focus"> بک کارنر جہلم  </td>
                                <td> <focus>249</focus> </td>
                                <td> ملفوظات احمد رضا، حصہ 3، صفحہ </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <a href="~/images/005_images/qabar_m_shab_baashi.jpg" target="_blank">
                            <img class="img-thumbnail" src="~/images/005_images/qabar_m_shab_baashi.jpg" alt="ambia qabar mein apni bivion k sath shab baashi | humbistri | sex karty hein" />
                        </a>
                        <br />
                        <div class="red">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            <span>
                                نعوذباللہ ! اَستغفِرُ اللہَ واَتُوبُ اِلیہ! اِنّا لِلہ وَ اِنّا اِلیہِ راجِعُون! العیاذُ باللہ تعالیٰ!!!۔

                            </span>
                            <span class="glyphicon glyphicon-exclamation-sign"></span><br />
                        </div>
                    </div>
                </blockquote>
            </div>

            نبیﷺ کے بارے میں اتنا بڑا جملہ بول دیا اور ذرا سی بھی حیا نہیں آئی؟؟ یہ لوگ اتنی بڑی جرأت کیسے کر سکتے ہیں؟؟

            <br />
            حالانکہ ہم اتنی جرأت بھی نہیں رکھتے کہ یہ جملہ بول سکیں کہ ’’فلاں کمرے میں میرے والد اور والدہ شب باشی کرتے ہیں!‘‘۔
            <br />
            لیکن اِن لوگوں نے نبیﷺ اور انبیاء ؑ کا مذاق اڑایا ہے اور گُستاخی کی ہے۔۔ (نعوذباللہ)۔



        </div>
    </div>
</div>
