@{
    ViewBag.Title = "Contact Us";
}

<script>
    $("#ibtadai_kalmaat").hide();
</script>

<div class="container body-content">

    <div class="red">
        <h3 class="urdu_center">

            میرے بھائیو! اگر آپ کو کوئی غلطی نظر آئے تو مجھے ای ۔میل کر کے آگاہ کریں۔ ان شاءاللہ اُس کو ٹھیک کیا جائے گا۔۔۔! جَزاکمُ اللہ خیراً

        </h3>
    </div>

    <hr />
    </div>

    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>

    <h3> E-mail any Query </h3>*@

    @*<address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>*@

    <address>
      <h3>  E-Mail   : <a> support@altahqeeq.com</a> </h3> 
      <h3>  Facebook : <a href="https://web.facebook.com/AL_Tahqeeq-383634005835096/"> AL-Tahqeeq Page </a> </h3> 

        @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
