/*#region Languages Urdu/Arabic */

@font-face {
    font-family: 'MehrNastaliqWeb';
    /*src: url('../fonts/JameelNooriNastaleeq.ttf') format('truetype');*/
    src: url('../fonts/MehrNastaliqWeb.ttf') format('truetype');
}


.urdu {
    font-family: 'MehrNastaliqWeb';
    text-align: right;
    line-height: 2;
}

.urdu_center {
    font-family: 'MehrNastaliqWeb';
    text-align: center;
    line-height: 2;
}

.arabic {
    font-family: 'Traditional Arabic';
    color: blue;
    text-align: center;
    font-weight: bold;
}

/*#endregion */

/*#region Colors Classes */

.red {
    color: red;
    -webkit-print-color-adjust: exact;
}

.blue {
    color: blue;
    -webkit-print-color-adjust: exact;
}

.green {
    color: green;
    -webkit-print-color-adjust: exact;
}

/*#endregion */

/*#region Table CSS */

td {
    /*padding-right: 8px;*/
    text-align: center;
    /*border-width: 1px;*/
    font-size: medium;
}

th {
    text-align: center;
}


/*#endregion */

/*#region hyper-text CSS */

a {
    text-decoration: none !important;
    color: #a302f5;
}

.glyphicon.glyphicon-link.btn-link
{
    text-decoration : none !important;

}

.internal-link
{

}

/*#endregion */

/*#region Reference of Hadith/Quran CSS */

blockquote {
    padding: 10px 10px 10px 20px;
    /*font-size: 1.09rem;*/
    position: relative;
    border-color: #149dcc;
    border-width: 3px;
    text-align: center;
}

focus {
    font-weight: bold;
    text-decoration: underline;
}

.focus {
    font-weight: bold;
    /*text-decoration:underline;*/
}

.ref {
    color: blue;
}

.ilmi_point_heading {
    color: #0035ff;
}

/*#endregion */

/*#region Shair O Shaairi */

.Shair-o-Shaairi
{
    word-spacing : 20px;
    text-align : center;
    color : red;
}



/*#endregion */

.ul-urdu {
    list-style-type: square;
    direction: rtl;
}


/*#region Body CSS */

/**[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}*/

body {
    /*padding-top: 2em ;*/
    padding-bottom: 20px;
    word-spacing: 4px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-top : 90px;*/
    padding-left: 15px;
    padding-right: 15px;
    line-height: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#endregion */


/*#region Validation Msgs/Errors */


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*#endregion */

/*#region Social Icons */

.fa {
    padding: 4%;
    font-size: 30px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.4;
        color: white;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #F56040;
    color: white;
}




/*#endregion */


/*#region Toast Notification */

#copiedToClipboard {
  visibility: hidden;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 20%;
  font-size: 15px;
  
}

#copiedToClipboard.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.9s, fadeout 0.9s 2
  s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 20%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 20%; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 20%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*#endregion */


/*#region disable Print URLs while save as PDF */
@media print {
    a[href]:after {
        content: none !important;
    }
}
/*#endregion */


/*#region Return To Top */

  #return_to_top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        width:  30px;
        height: 40px;
        display: block;
        text-decoration: dotted;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 15px;
        display: none;
        -webkit-transition: all 1.3s linear;
        -moz-transition: all 1.3s ease;
        -ms-transition: all 1.3s ease;
        -o-transition: all 1.3s ease;
        transition: all 1.3s ease;
        z-index : 1;
    }

    #return_to_top i {
        color: #fff;
        margin: 0;
        position: absolute;
        left: 4px;
        top: 12px;
        text-align:center;
        font-size: 19px;
        -webkit-transition: all 1.3s ease;
        -moz-transition: all 1.3s ease;
        -ms-transition: all 1.3s ease;
        -o-transition: all 1.3s ease;
        transition: all 1.3s ease;
    }

    #return_to_top:hover {
    background: rgba(0, 0, 0, 0.9);
    }

    #return_to_top:hover i {
        color: #fff;
        top: 0px;
    }


/*#endregion */



/*
    
    for Smiley  code            &#9786;

    
    
    */
